.registerContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        background: #000;
        opacity: .3;
    }

    .leftContainer {
        flex: 0 0 65%;
        position: relative;
        color: white;
        padding-top: 4rem;
        padding-bottom: 3rem;
        padding-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width:900px) {
            flex: 0 0 45%;
    
        }
        @media (max-width:678px) {
       display: none;
    
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .icons {
                display: flex;
                gap: 20px;
                font-size: 25px;

                * {
                    cursor: pointer;
                }
            }

            h3 {
                font-weight: lighter;
                font-size: 50px;
                line-height: -200px;
            }

            p {
                font-weight: 200;
                font-size: 15px;
            }
        }
    }

    .rightContainer {
        flex: 0 0 35%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // padding-top: 1rem;
        @media (max-width:900px) {
            flex: 0 0 55%;
    
        }
        @media (max-width:678px) {
            flex: 0 0 100%;
        }
        .blur {

            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.435); // Use rgba to add transparency
            backdrop-filter: blur(5px); // Adjust the blur amount
            z-index: 0;
        }

        .registration-page {
            width: 100%;
            height: 100%;
            flex-direction: column;
            display: flex;
            color: white;
            justify-content: center;
            gap: 50px;
            position: relative;
            z-index: 1;
            h1{
              text-align: center;
            }
            .registration-form {
                gap: 25px;
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 0 auto;

                .form-group {
                    position: relative;
                    width: 100%;
                    height: 40px;
                    border-bottom: solid 1px gray;
                  
                    input {
                      width: 100%;
                      border: none;
                      height: 100%;
                      outline: none;
                      color: gray;
                      background-color: transparent;
                  padding-left: 0.6rem;
                    //   &:focus + .placeholder, &:not(:placeholder-shown) + .placeholder {
                    //     top: 5px;
                    //     font-size: 12px; /* Adjust the font size as needed */
                    //     opacity: 0.5; /* Add opacity to the label */
                    //   }
                    }
                 .placeholder1.right{
                    position: absolute;
                  
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                    transition: all .3s ease;
                    color: gray;
                    right: 10%;
                    &.active {
                        top: -8px;
                        font-size: 12px; /* Adjust the font size as needed */
                        opacity: 0.5; /* Add opacity to the label */
                      }
                 }
                    .placeholder {
                      position: absolute;
                      left: 2%;
                      top: 50%;
                      transform: translateY(-50%);
                      pointer-events: none;
                      transition: all .3s ease;
                      color: gray;
                  
                      &.active {
                        top: -8px;
                        font-size: 12px; /* Adjust the font size as needed */
                        opacity: 0.5; /* Add opacity to the label */
                      }
                    }
                  }
                  .form-group-left{
                    display: flex;
                    gap: 10px;
                  }
                  button{
                    height: 50px;
                    color: white;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;

                  }
                  p{
                    color: gray;
                  }
            }
        }
    }
}